/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-2rem);
      }
      100% {
          transform: translateY(0);
      }
  }
  @keyframes floatAnimation2 {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-3rem);
      }
      100% {
          transform: translateY(0);
      }
  }
  #hero-1349 {
      /* 250px - 500px - leaving extra space for the navigation */
      padding: clamp(13rem, 20vw, 25rem) 1rem 0;
      /* 200px - 250px */
      padding-bottom: clamp(12.5rem, 16.5vw, 15.625rem);
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      z-index: 1;
  }
  #hero-1349:before {
      /* Overlay */
      content: "";
      width: 100%;
      height: 30%;
      background: -webkit-linear-gradient(
          linear,
          left top,
          left bottom,
          from(#000000),
          to(rgba(0, 0, 0, 0))
      );
      background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(
          to bottom,
          #000000 0%,
          rgba(0, 0, 0, 0) 100%
      );
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 2;
      /* prevents the cursor from interacting with it */
      pointer-events: none;
  }
  #hero-1349 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  #hero-1349 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 39.375rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }
  #hero-1349 .cs-topper {
      font-size: 1.25rem;
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: #e8e8e8;
      margin-bottom: 0.5rem;
      display: block;
  }
  #hero-1349 .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 20ch;
      margin: 0 0 1rem 0;
      color: #fff;
      position: relative;
  }
  #hero-1349 .cs-text {
      font-size: 1.25rem;
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      /* 464px - 622px */
      max-width: clamp(29rem, 60vw, 38.785rem);
      margin: 0 0 2.5rem 0;
      color: #e8e8e8;
  }

  #hero-1349 .cs-button-solid:before {
      background: #fff;
  }

  #hero-1349 .cs-bubbles {
      /* this scales the children inside of it down. They're all in ems so they pull from the parent font size for their value of em, in this case, the value of em is tied to the viewwidth size and stops growing when the font size is equal to 1em, which it pulls from the nearst parent with a declred font size (which is the html tag, and that tag is 16px by default) */
      font-size: min(2vw, 0.5em);
      position: absolute;
      z-index: -1;
  }
  #hero-1349 .cs-bubbles1 {
      width: 42.5em;
      height: 45.25em;
      right: -11.875rem;
      /* changes to 172 at large desktop */
      top: 0;
  }
  #hero-1349 .cs-bubbles1:before {
      /* white border bubble */
      content: "";
      width: 38.875em;
      height: 38.875em;
      background: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      animation-name: floatAnimation;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #hero-1349 .cs-bubbles1:after {
      /* orange bubble */
      content: "";
      width: 34.125em;
      height: 34.125em;
      background: var(--primary);
      opacity: 0.8;
      border-radius: 50%;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      animation-name: floatAnimation2;
      animation-duration: 10s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #hero-1349 .cs-bubbles2 {
      width: 20.625rem;
      height: 29.75rem;
      /* changes to 160px at larger desktop */
      left: -13.75rem;
      /* removed at larger desktop */
      bottom: -16.25rem;
  }
  #hero-1349 .cs-bubbles2:before {
      /* white border bubble */
      content: "";
      width: 20.625rem;
      height: 20.625rem;
      background: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      animation-name: floatAnimation;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #hero-1349 .cs-bubbles2:after {
      /* orange bubble */
      content: "";
      width: 16.25rem;
      height: 16.25rem;
      background: var(--primary);
      opacity: 0.8;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      right: 2.5rem;
      z-index: -1;
      animation-name: floatAnimation2;
      animation-duration: 14s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #hero-1349 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
  }
  #hero-1349 .cs-background:before {
      /* Overlay */
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.4;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
      /* prevents the cursor from interacting with it */
      pointer-events: none;
  }
  #hero-1349 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      /* makes the top of the image start at the top of the parent */
      object-position: top;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1349 .cs-container {
      align-items: flex-start;
  }
  #hero-1349 .cs-content {
      text-align: left;
      align-items: flex-start;
  }
  #hero-1349 .cs-bubbles {
      font-size: 1em;
  }
  #hero-1349 .cs-bubbles1 {
      /* changes to auto at large desktop */
      right: -26.75rem;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-1349 .cs-bubbles1 {
      /* 200px - 450px */
      margin-left: clamp(12.5rem, 20vw, 28.125rem);
      top: 10.75rem;
      right: auto;
      left: 50%;
  }
}
/* Large Desktop Parallax Effect - 1600px */
@media only screen and (min-width: 100rem) {
  #hero-1349 .cs-background {
      background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
  #hero-1349 .cs-background img {
      display: none;
  }
}
/* Larger Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
  #hero-1349 .cs-bubbles2 {
      margin-right: 50rem;
      right: 50%;
      left: auto;
      top: 13.125rem;
      bottom: auto;
  }
}

/*-- -------------------------- -->
<---       Top Services         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #h-services-81 {
    /* 40px - 100px */
    padding: 0 1rem clamp(2.5rem, 7.9vw, 6.25rem) 1rem;
    position: relative;
    /* give a higher z index than the hero so it can sit on top */
    z-index: 10;
  }
  #h-services-81 .cs-card-group {
    width: 100%;
    max-width: 29.0625rem;
    margin: 0 auto 0;
    /* negative margin pulls it up on top of the hero section */
    /* -46px to -76px - we're calculating whatever clamp is and multiplying by -1
            to make the value negative since clamp doesn't work with negative values */
    margin-top: calc(clamp(5rem, 13vw, 4.75rem)*-1);
    /* 40px - 60px top and bottom, 16px - 60px left & right */
    padding: clamp(2.5rem, 4.7vw, 3.75rem) clamp(1rem, 4vw, 3.75rem);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
    border-top: 8px solid var(--primary);
    background-color: #fff;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
  }
  #h-services-81 .cs-item {
    list-style: none;
    margin: 0 auto 2.5rem;
    width: 100%;
    max-width: 22.5rem;
  }
  #h-services-81 .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #h-services-81 .cs-icon {
    /* 68px - 88px */
    width: clamp(4.25rem, 8.8vw, 5.5rem);
    /* 68px - 88px */
    height: clamp(4.25rem, 8.8vw, 5.5rem);
    margin: auto;
    /* 20px - 24px */
    margin-bottom: clamp(1.25rem, 5vw, 1.5rem);
    background: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #h-services-81 .cs-icon img {
    /* 44px - 52px */
    width: clamp(2.75rem, 5.8vw, 3.25rem);
    height: auto;
  }
  #h-services-81 .cs-title {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 0.5rem;
    color: var(--headerColor);
  }
  #h-services-81 .cs-text {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5em;
    max-width: 22.5rem;
    margin: 0 auto;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #h-services-81 {
    padding-bottom: 0;
  }
  #h-services-81 .cs-card-group {
    max-width: 80rem;
    /* -76px to -320px - we're calculating whatever clamp is and multiplying by -1
               to make the value negative since clamp doesn't work with negative values */
    margin-top: calc(clamp(4.75rem, 8vw, 20rem)*-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.5rem;
  }
  #h-services-81 .cs-item {
    /* Reset margin so it doesn't interfere with flexbox */
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #h-services-81 .cs-card-group {
    background: var(--medium);
  }
  body.dark-mode #h-services-81 .cs-icon {
    background: var(--darkTint);
  }
  body.dark-mode #h-services-81 .cs-title {
    color: #fff;
  }
  body.dark-mode #h-services-81 .cs-text {
    color: #fff;
  }
}

/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-2rem);
      }
      100% {
          transform: translateY(0);
      }
  }
  @keyframes floatAnimation2 {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-3rem);
      }
      100% {
          transform: translateY(0);
      }
  }
  #why-choose-1371 {
      padding: var(--sectionPadding);
      position: relative;
      overflow: visible;
      z-index: 1;
  }
  #why-choose-1371 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #why-choose-1371 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }
  #why-choose-1371 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
  }
  #why-choose-1371 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 43.75rem;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
  }
  #why-choose-1371 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      color: var(--bodyTextColor);
  }
  #why-choose-1371 .cs-title {
      max-width: 23ch;
  }
  #why-choose-1371 .cs-text {
      max-width: 52.5rem;
      margin-bottom: 1rem;
  }
  #why-choose-1371 .cs-text:last-of-type {
      margin-bottom: 0rem;
  }
  #why-choose-1371 .cs-text strong {
      color: var(--headerColor);
  }
  #why-choose-1371 .cs-item-picture {
      list-style: none;
      width: 100%;
      grid-column: span 12;
      position: relative;
  }
  #why-choose-1371 .cs-picture {
      width: 100%;
      height: 26.125rem;
      border-radius: 1.5rem;
      overflow: hidden;
      display: block;
      position: relative;
      z-index: 1;
  }
  #why-choose-1371 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
  }
  #why-choose-1371 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: stretch6;
      gap: clamp(1rem, 2vw, 1.25rem);
  }
  #why-choose-1371 .cs-item {
      list-style: none;
      /* 16px - 24px */
      padding: clamp(1rem, 3vw, 1.5rem);
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      background-color: #f7f7f7;
      border-radius: 1rem;
      border: 1px solid #e8e8e8;
      display: flex;
      grid-column: span 12;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
      transition: background-color 0.3s;
  }
  #why-choose-1371 .cs-item:hover {
      background-color: var(--primary);
  }
  #why-choose-1371 .cs-item:hover .cs-h3,
  #why-choose-1371 .cs-item:hover .cs-item-text {
      color: var(--bodyTextColorWhite);
  }
  #why-choose-1371 .cs-item:hover .cs-item-text {
      opacity: 0.8;
  }
  #why-choose-1371 .cs-item:hover .cs-h3-icon {
      filter: grayscale(1) brightness(1000%);
  }
  #why-choose-1371 .cs-h3 {
      font-size: 1.25rem;
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;
      transition: color 0.3s;
  }
  #why-choose-1371 .cs-h3-icon {
      width: 1.5rem;
      height: auto;
      margin-top: 2px;
      display: block;
  }
  #why-choose-1371 .cs-item-text {
      font-size: 0.875rem;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition:
          color 0.3s,
          opacity 0.3s;
  }
  #why-choose-1371 .cs-bubbles1 {
      width: 26.1875rem;
      height: 26.6875rem;
      position: absolute;
      left: -16.25rem;
      top: -15rem;
      z-index: -2;
  }
  #why-choose-1371 .cs-bubbles1:before {
      /* white border bubble */
      content: "";
      width: 20.625rem;
      height: 20.625rem;
      background: transparent;
      border: 1px solid #1a1a1a;
      border-radius: 50%;
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      animation-name: floatAnimation;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #why-choose-1371 .cs-bubbles1:after {
      /* orange bubble */
      content: "";
      width: 16.25rem;
      height: 16.25rem;
      background: var(--primary);
      opacity: 0.1;
      border-radius: 50%;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -2;
      animation-name: floatAnimation2;
      animation-duration: 14s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #why-choose-1371 .cs-bubbles2 {
      width: 26.1875rem;
      height: 26.6875rem;
      display: block;
      position: absolute;
      /* changes to 160px at larger desktop */
      right: -11.25rem;
      bottom: -8.75rem;
      z-index: -2;
  }
  #why-choose-1371 .cs-bubbles2:before {
      /* white border bubble */
      content: "";
      width: 20.625rem;
      height: 20.625rem;
      background: transparent;
      border: 1px solid #1a1a1a;
      border-radius: 50%;
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      animation-name: floatAnimation;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #why-choose-1371 .cs-bubbles2:after {
      /* orange bubble */
      content: "";
      width: 16.25rem;
      height: 16.25rem;
      background: var(--primary);
      opacity: 0.1;
      border-radius: 50%;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -2;
      animation-name: floatAnimation2;
      animation-duration: 9s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1371 .cs-item {
      grid-column: span 4;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1371 .cs-item-picture {
      grid-column: 4 / span 6;
      grid-row: 1 / span 3;
  }
  #why-choose-1371 .cs-picture {
      height: 100%;
  }
  #why-choose-1371 .cs-item {
      grid-column: span 2;
  }
  #why-choose-1371 .cs-item:nth-of-type(1) {
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(2) {
      grid-column: 1 / span 3;
      grid-row: 2 / span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(3) {
      grid-column: 1 / span 3;
      grid-row: 3 / span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(5) {
      grid-column: 10 / span 3;
      grid-row: 1 / span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(6) {
      grid-column: 10 / span 3;
      grid-row: 2 / span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(7) {
      grid-column: 10 / span 3;
      grid-row: 3 / span 1;
  }
  #why-choose-1371 .cs-bubbles1 {
      left: -8.125rem;
      top: -9.375rem;
  }
}
/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #why-choose-1371 .cs-bubbles1 {
      margin-right: 40.625rem;
      left: auto;
      right: 50%;
  }
  #why-choose-1371 .cs-bubbles2 {
      margin-left: 37.5rem;
      left: 50%;
      right: auto;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-1371 .cs-title,
  body.dark-mode #why-choose-1371 .cs-text,
  body.dark-mode #why-choose-1371 .cs-item-text {
      color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1371 .cs-text strong {
      color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1371 .cs-text,
  body.dark-mode #why-choose-1371 .cs-item-text {
      opacity: 0.8;
  }
  body.dark-mode #why-choose-1371 .cs-item {
      background-color: rgba(15, 15, 15, 0.8);
      border-color: rgba(100, 100, 100, 0.8);
  }
  body.dark-mode #why-choose-1371 .cs-item:hover {
      background-color: var(--primary);
  }
  body.dark-mode #why-choose-1371 .cs-h3 {
      color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1371 .cs-bubbles2:before {
    border: 1px solid #FFFFFF;
  } 
  body.dark-mode #why-choose-1371 .cs-bubbles1:before {
    border: 1px solid #FFFFFF;
  }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-2rem);
      }
      100% {
          transform: translateY(0);
      }
  }
  @keyframes floatAnimation2 {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-3rem);
      }
      100% {
          transform: translateY(0);
      }
  }
  #gallery-1374 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
      /* Prevents overflow from the image going off screen */
      overflow: hidden;
  }
  #gallery-1374 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-1374 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #gallery-1374 .cs-topper {
      color: var(--primary);
  }
  #gallery-1374 .cs-image-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
      /* 16px - 60px */
      gap: clamp(1rem, 4.3vw, 3.75rem);
  }
  #gallery-1374 .cs-link {
      text-decoration: none;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }
  #gallery-1374 .cs-item {
      list-style: none;
      width: 100%;
      height: 100%;
      margin: 0;
      grid-column: span 12;
  }
  #gallery-1374 .cs-item:hover .cs-h3,
  #gallery-1374 .cs-item:hover .cs-desc {
      color: #fff;
  }
  #gallery-1374 .cs-item:hover .cs-item-text {
      background-color: var(--primary);
  }
  #gallery-1374 .cs-item:hover .cs-icon-wrapper {
      border-color: #fff;
  }
  #gallery-1374 .cs-item:hover .cs-icon {
      filter: brightness(1000%) grayscale(1);
  }
  #gallery-1374 .cs-picture {
      width: 100%;
      /* 344px - 420px */
      height: clamp(21.5rem, 30vw, 26.25rem);
      margin: auto;
      border-radius: 1.5rem;
      display: block;
      position: relative;
      overflow: hidden;
  }
  #gallery-1374 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
  }
  #gallery-1374 .cs-item-text {
      /* 16px - 20px top & bottom, 16px - 40px left & right */
      padding: clamp(1rem, 2vw, 1.25rem) clamp(1rem, 2.8vw, 2.5rem);
      background-color: #f7f7f7;
      border-radius: 1rem;
      border: 1px solid #e8e8e8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* makes the item text the element that grows to fill the container */
      flex-grow: 1;
      gap: 1rem;
      transition: background-color 0.3s;
  }
  #gallery-1374 .cs-flex {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  }
  #gallery-1374 .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
      line-height: 1.2em;
      text-align: left;
      margin: 0;
      color: #1a1a1a;
      transition: color 0.3s;
  }
  #gallery-1374 .cs-desc {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.2vw, 1rem);
      line-height: 1.5em;
      color: #1a1a1a;
      transition: color 0.3s;
  }
  #gallery-1374 .cs-icon-wrapper {
      width: 3rem;
      height: 3rem;
      border: 1px solid #bababa;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents the parent flexbox from shrinking the icon */
      flex-shrink: 0;
      transition: border-color 0.3s;
  }
  #gallery-1374 .cs-icon {
      width: auto;
      height: 0.75rem;
      transition: filter 0.3s;
  }
  #gallery-1374 .cs-button-solid {
      font-size: 1rem;
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: 9.375rem;
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      overflow: hidden;
      padding: 0 1.5rem;
      color: #fff;
      background-color: var(--primary);
      border-radius: 3rem;
      display: inline-block;
      position: relative;
      z-index: 1;
  }
  #gallery-1374 .cs-button-solid:before {
      content: "";
      width: 0%;
      height: 100%;
      background: #000;
      opacity: 1;
      border-radius: 0.25rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
  }
  #gallery-1374 .cs-button-solid:hover:before {
      width: 100%;
  }
  #gallery-1374 .cs-bubbles {
      width: 25.9375rem;
      height: 34.125rem;
      position: absolute;
      right: -10.25rem;
      bottom: -2.875rem;
      z-index: -1;
  }
  #gallery-1374 .cs-bubbles:before {
      /* white border bubble */
      content: "";
      width: 21.3125rem;
      height: 21.3125rem;
      background: transparent;
      opacity: 1;
      border: 1px solid #1a1a1a;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      animation-name: floatAnimation;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
  }
  #gallery-1374 .cs-bubbles:after {
      /* orange bubble */
      content: "";
      width: 21.3125rem;
      height: 21.3125rem;
      background: var(--primary);
      opacity: 0.1;
      border-radius: 50%;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      animation-name: floatAnimation2;
      animation-duration: 14s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
  }
}
/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
  #gallery-1374 .cs-item {
      grid-column: span 6;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery-1374 .cs-title,
  body.dark-mode #gallery-1374 .cs-text,
  body.dark-mode #gallery-1374 .cs-desc,
  body.dark-mode #gallery-1374 .cs-h3 {
      color: var(--bodyTextColorWhite);
  }
  body.dark-mode #gallery-1374 .cs-desc,
  body.dark-mode #gallery-1374 .cs-text {
      opacity: 0.8;
  }
  body.dark-mode #gallery-1374 .cs-item-text {
    background-color: rgba(15, 15, 15, 0.8);
    border-color: rgba(100, 100, 100, 0.8);
  }
  body.dark-mode #gallery-1374 .cs-bubbles:before {
    border: 1px solid #FFFFFF;
  } 
}                       

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-51 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #cta-51 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-51 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #cta-51 .cs-topper {
    color: var(--primary);
  }
  #cta-51 .cs-title,
  #cta-51 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #cta-51 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
    opacity: .8;
  }
  #cta-51 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #cta-51 .cs-picture {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-51 .cs-picture:before {
    /* black color overlay */
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-51 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #cta-51 .cs-button-solid:before {
    background: #fff;
  }
}
                    