/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1378 {
      padding: var(--sectionPadding);
  }
  #services-1378 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1378 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #services-1378 .cs-topper {
      color: var(--secondary);
  }
  #services-1378 .cs-content {
      margin-bottom: clamp(2.5rem, 5vw, 4rem);
  }
  #services-1378 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      column-gap: clamp(1rem, 2vw, 1.25rem);
      /* 72px - 84px */
      row-gap: clamp(4.5rem, 6vw, 5.25rem);
  }
  #services-1378 .cs-item {
      /* change to left if you want text aligned to the left */
      text-align: center;
      list-style: none;
      width: 100%;
      /* 210px - 305px */
      min-height: clamp(13.125rem, 30vw, 19.0625rem);
      margin: 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      /* 16px - 40px */
      padding: clamp(1rem, 3vw, 2.5rem);
      padding-top: 0;
      background-color: #f4f4f4;
      border-radius: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: span 12;
      position: relative;
      z-index: 1;
      transition: background-color 0.3s;
  }
  #services-1378 .cs-item:hover {
      background-color: var(--primary);
  }
  #services-1378 .cs-item:hover .cs-picture {
      background-color: var(--primary);
  }
  #services-1378 .cs-item:hover .cs-icon,
  #services-1378 .cs-item:hover .cs-arrow {
      filter: grayscale(1) brightness(1000%);
  }
  #services-1378 .cs-item:hover .cs-h3,
  #services-1378 .cs-item:hover .cs-item-text {
      color: #fff;
  }
  #services-1378 .cs-item:hover .cs-item-text {
      opacity: 0.8;
  }
  #services-1378 .cs-item:hover .cs-link {
      border-color: #fff;
  }
  #services-1378 .cs-picture {
      width: 5.5rem;
      height: 5.5rem;
      margin: -2.75rem 0 clamp(1.75rem, 3vw, 2.25rem) 0;
      box-sizing: border-box;
      background-color: #bababa;
      border: 2px solid #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s background-color;
  }
  #services-1378 .cs-icon {
      width: 2rem;
      height: auto;
      transition: filter 0.3s;
  }
  #services-1378 .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      font-weight: bold;
      line-height: 1.2em;
      text-align: inherit;
      /* if a word is too long for the card, break it onto a new line */
      word-break: break-word;
      margin: 0 0 0.75rem;
      transition: color 0.3s;
  }
  #services-1378 .cs-item-text {
      font-size: 1rem;
      line-height: 1.5em;
      text-align: inherit;
      margin: 0 0 2rem;
      color: var(--bodyTextColor);
      transition: 0.3s color;
  }
  #services-1378 .cs-link {
      text-decoration: none;
      width: 4rem;
      height: 4rem;
      color: var(--headerColor);
      border: 1px solid #bababa;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents the parent flexbox from shrinking the arrow */
      flex-shrink: 0;
      gap: 0.625rem;
      transition: border-color 0.3s;
  }
  #services-1378 .cs-arrow {
      width: auto;
      height: 0.75rem;
      transition: filter 0.3s;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #services-1378 .cs-item {
      grid-column: span 6;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1378 .cs-item {
      grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1378 .cs-item {
      background-color: var(--medium);
  }
  body.dark-mode #services-1378 .cs-item:hover {
      background-color: var(--accent);
  }
  body.dark-mode #services-1378 .cs-item:hover .cs-icon,
  body.dark-mode #services-1378 .cs-item:hover .cs-arrow {
      filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #services-1378 .cs-item:hover .cs-h3 {
      color: #fff;
  }
  body.dark-mode #services-1378 .cs-item:hover .cs-arrow-wrapper {
      border-color: #fff;
  }
  body.dark-mode #services-1378 .cs-title,
  body.dark-mode #services-1378 .cs-text,
  body.dark-mode #services-1378 .cs-h3,
  body.dark-mode #services-1378 .cs-item-text {
      color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1378 .cs-text,
  body.dark-mode #services-1378 .cs-item-text {
      opacity: 0.8;
  }
  body.dark-mode #services-1378 .cs-picture {
      background-color: var(--accent);
  }
  body.dark-mode #services-1378 .cs-icon {
      filter: grayscale(1) brightness(1000%);
  }
}

                              
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-51 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #cta-51 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-51 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #cta-51 .cs-topper {
    color: var(--secondary);
  }
  #cta-51 .cs-title,
  #cta-51 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #cta-51 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
    opacity: .8;
  }
  #cta-51 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #cta-51 .cs-picture {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-51 .cs-picture:before {
    /* black color overlay */
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .8;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-51 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
